.App {
  text-align: center;
  padding-top: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-red {
  background-color: #ff0000;
}

.header-blue {
  background-color: #0000ff;
}

.App-text {
  color: #e6f704;
}
.text-capital {
  font-size: 60px;
}

.text-small {
  font-size: 20px;
}

.App-header {
  background-color: whitesmoke; //#61dafb;
  color: slategray;
}

.App-message {
  font-family: cursive;

  color: slategray;
}

.App-input {
  font-family: monospace;
  border-radius: 10px;
  border-color: transparent;
}
.App-btn {
  border-radius: 10px;
  border-color: mediumvioletred;
  color: mediumvioletred;
}
